<!DOCTYPE html>
<html ng-app="contrariumApp">
<head>
    <title> Contrarium | Search for the opposite of what you're looking for. </title>
    <script src="/static/src/3rd-party/angular.min.js"></script>
    <script src="/static/directives/contrarium_search/contrarium_search.js"></script>
    <script src="/static/src/main.js"></script>
</head>

<body>

    <h1> Contrarium </h1>
    
    <h3> Search for the opposite of what you're looking for. </h3>

    Contrary Search: 
    <contrarium_search></contrarium_search>
    
    <b>Note: This would work better if we had a better source of antonyms.</b>

</body>
</html>
